<div
    class="jumbotron jumbotron-fluid text-light text-center d-flex align-items-center justify-content-center jumbo-img">
    <div class="container">
        <h1 class="display-4">Welcome to Bytes &amp; Dungeons!</h1>
        <p class="lead">
            The ultimate platform for your Dungeons &amp; Dragons campaign.
        </p>
        {{#unless currentUser}}
        <p class="lead">
            <a href="/auth/signup" class="btn btn-lg btn-primary me-3">Sign Up</a>
            <a href="/auth/login" class="btn btn-lg btn-secondary">Log In</a>
        </p>
        {{/unless}}
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <h2>About Us</h2>
            <p>
                Bytes &amp; Dungeons is a online platform for players to connect, discuss and share information about
                Dungeons &amp; Dragons characters.
            </p>
            <p>
                Our intuitive user interface and powerful tools allow you to manage your characters, and play games with
                them.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="/images/dand-logo.png" alt="Dungeons &amp; Dragons" class="img-fluid" />
        </div>
    </div>
</div>