<h2 class="text-center">Edit your Profile</h2>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <div class="upper">
            <img src="/images/banner.png" alt="banner" />
        </div>

        <div class="user text-center">
            <div class="profile">
                <img src="{{user.userIconImgUrl}}" alt="Profile Img" />
            </div>
        </div>

        <form action="/user-profile/edit" method="POST" enctype="multipart/form-data" class="text-center mt-5">

            <div class="form-floating mb-3">
                <input type="text" name="username" id="floatingInput" value="{{user.username}}" class="form-control">
                <label>Username:</label>
            </div>

            <div class="form-floating">
                <input type="text" name="email" id="floatingInput" value="{{user.email}}" class="form-control">
                <label>Email:</label>
            </div>

            <div class="mt-4">
                <input type="file" name="profile-picture" class="form-control-file" />
                <input type="text" name="existingProfileImage" hidden value="{{user.userIconImgUrl}}">
            </div>

            <br />

            <button type="submit" class="btn btn-info mt-5">Submit</button>

        </form>
    </div>
</div>