<h2 class="text-center">Your Profile:</h2>

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <div class="upper">
            <img src="/images/banner.png" alt="banner" />
        </div>

        <div class="user text-center mb-3">
            <div class="profile">
                <img src="{{user.userIconImgUrl}}" alt="Profile Img" />
            </div>
        </div>

        <div class="mt-5 text-center">
            <h4 class="text-muted d-block mb-0">{{user.username}}</h4>
            <span class="text-muted d-block mb-2">{{user.email}}</span>

            <a href="/user-profile/edit" class="btn btn-primary btn-sm edit-profile">Edit Profile</a>
        </div>
    </div>
</div>