<div id="loading-page" class="">
    <div class="text-center">
        <div id="preloader">
            <div id="loader"></div>
            <h2>Waiting for another player to join the room...</h2>
        </div>

    </div>
    <h3 id="char-id">{{charId}}</h3>
</div>

<div id="game-page" class="container visually-hidden">
    <h3 id="user-id" class="visually-hidden">{{userId}}</h3>
    <div class="row">
        <div class="card mx-auto mb-3 h-100 shadow-lg">
            <h2 class="card-header text-center" id="player"></h2>
            <div class="card-body">
                <div id="my-char">
                    <p>
                        <strong>
                            ⚔️ Fighting With:
                        </strong>
                        <span class="name"></span>
                    </p>
                    <p>
                        <strong>
                            ❤️ Health:
                        </strong>
                        <span class="health"></span>
                    </p>
                    <p>
                        <strong>
                            💪🏻 Strength:
                        </strong>
                        <span class="strength"></span>
                    </p>
                    <p>
                        <strong>
                            🛡️ Defense:
                        </strong>
                        <span class="defense"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="card mx-auto mb-3 h-100 shadow-lg text-center">
            <div class="card-body">
                <p class="font-weight-bold">🏹REPORT FROM LAST ROUND⚔️</p>
                <h5 id="message">BATTLE STARTED!</h3>

                    <hr />
                    <h2>ACTIONS</h2>
                    <div id="btn-menu">

                    </div>
            </div>
        </div>
        <div class="card mx-auto mb-3 h-100 shadow-lg">
            <h2 class="card-header text-center" id="enemy"></h2>
            <div class="card-body">
                <div id="enemy-char">
                    <p>
                        <strong>
                            ⚔️ Fighting With:
                        </strong>
                        <span class="name"></span>
                    </p>
                    <p>
                        <strong>
                            ❤️ Health:
                        </strong>
                        <span class="health"></span>
                    </p>
                    <p>
                        <strong>
                            💪🏻 Strength:
                        </strong>
                        <span class="strength"></span>
                    </p>
                    <p>
                        <strong>
                            🛡️ Defense:
                        </strong>
                        <span class="defense"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="game-over" class="visually-hidden">
    <h1>Result:</h1>
    <h1 id="result"></h1>
    <form action="/characters" method="GET">
        <button type="submit">Exit Game</button>
    </form>
</div>

<script>
    const PORT = {{ wsPort }};
</script>
<script src="/js/gameLobby.js"></script>