<div class="py-5">
    <div class="container py-5">
        <div class="row text-center">
            <h1 class="font-weight-bold">Our Team</h1>
            <p class="font-italic text-muted">Meet the ones that have made this possible!</p>

            <div class="col-xl-6 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/ismael-aboutus.jpg" width="120"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Ismael Freitas</h5><span class="small text-uppercase text-muted">Web
                        Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://github.com/IsmaelFreitas98" class="social-link" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/ismael.a.freitas/" class="social-link" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/ismael-freitas-6366891b8/" class="social-link"
                                target="_blank">
                                <i class="fa fa-linkedin">

                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xl-6 col-sm-6 mb-5">
                <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/cris-aboutus.jpg" alt="" width="120"
                        class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Cristian Palao</h5><span class="small text-uppercase text-muted">Web
                        Developer</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item">
                            <a href="https://github.com/Dookietrukie" class="social-link" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/crisiwiiis" class="social-link" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/crisiiiwis/" class="social-link" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/cristian-pc/" class="social-link" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>