<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="/characters/{{character._id}}/edit" method="POST">

        <div class="mb-3">
          <label class="form-label">Name:</label>
          <input type="text" name="name" class="form-control" placeholder="New name">
        </div>

        <div class="mb-3">
          <label class="form-label">Description:</label>
          <input type="text" name="description" class="form-control" placeholder="New description">
        </div>

        <div class="text-center mb-3">
          <button type="submit" class="btn btn-success">Send Changes</button>
        </div>

        {{#if errorMessage}}
        <p class="error mt-5 text-bg-danger p-3 rounded">{{errorMessage}}</p>
        {{/if}}

      </form>
    </div>
  </div>
</div>