<h2>Create your Character</h2>

<form action="/characters/create" method="POST">

    <label>Name:
        <input type="text" name="name">
    </label>

    <label>Class:
        <select name="characterClass">
            <option value="Bard">Bard</option>
            <option value="Fighter">Fighter</option>
            <option value="Wizard">Wizard</option>
        </select>
    </label>

    <label>Description:
        <textarea name="description" cols="30" rows="10"></textarea>
    </label>

    <button type="submit">Create</button>

</form>